﻿body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fcf2e0;
    background-image: url('images/background-animation-right.png');
    animation-name: down;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* Standard syntax */
@keyframes down {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

.body {

}

.clear {
    clear: both;
}

.p {
    color: black;
}

.nopadding {
    position: static;
    padding-left: 0px;
    padding-right: 0px;
}

.paddingtop {
    padding-top: 15px;
    margin-bottom: 25px;
}

.btn-block {
    width: auto;
}

.imgfixer {
    width: 100%;
}

.astheneiesbanner {
    position:relative;

}

.styled2 p {
    color: black;
    
}

.lexicon .homesearchbar {
    font-size: 20px;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;
}

.blacka {
    colour: black;
}
a:hover {
    text-decoration: none;
    color: white;
}

.navbar-default li:hover {
    color: white;
}

.navbar-right {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}



header {
    width: 100%;
    background-color: #ffffff;
}

.navbar-brand {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0px;
}

.collapse ul li:hover {
    background-color:#72be44;
}



.images {
    background-color: #ffc3b2;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.images h4 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.images p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}

.images img {
    width: 100%;
    padding: 0px 0px 10px 0px;
}

#slide1 {

    background-color: #ffc3b2;
}

#slide2 {

    background-color: #009edb;
}

#slide3 {

    background-color: #6dcff6;
}

#slide4 {
    background-color: #f6921e;
}

#slide5 {
    background-color: #dea454;
}

#myCarousel1 h4, #myCarousel1 p {
    color: white;

}

#myCarousel1 p {
    font-weight: 300;
}

#myCarousel1 .carousel-indicators {
    position: absolute;
    margin-left:-850px;
    margin-bottom: -15px;
}


.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: 2px solid white;
    margin: 15px;
    background-color: transparent;
    color: white;
}

.orama, .philosophy {
    padding-left: 15px;
    background-color: #ffffff;
    padding-right: 15px;
}

.orama h3, .philosophy h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;

}

.orama p, .philosophy p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 5px;
    padding-bottom: 10px;
    color: black;
}

.draseis {
    margin-top: 20px;
    background-color: #ffbd00;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.draseis a {    
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    font-size: 22px;
    padding: 10px 0px 10px 10px;
    color: white;
}

.media {
    padding-top: 10px;
    margin-bottom: 10px;
}

.draseis p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

#myCarousel {
    background-color: white;
    padding: 5px;
}

#myCarousel img {
    width: 100%;
}

.carousel-caption {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    position: static;   
    color: black;
    text-align: center;
}

.carousel-caption h3 {
    font-size: 20px;
    text-align: center;
    padding: 0 0 61px 0;
    margin: 5px 0px 0px 0px;
    line-height: 25px;
}

.carousel-indicators {
    margin: 10px 0px 0px 45px;
    position: static;
}

.upologismos {
    margin-top: 20px;
    background-color: #f37021;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.upologismos a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
    color: white;
}

.upologismos2 {
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}

.upologismos2 .btn {
    margin-left:0;
    border-radius: 0px;
    color: white;
}

.upologismos2 .fulo {
    border: 1px solid #b3b3b3;
    margin-right: 0px;
    width: 99%;
    padding: 5px;

}

.upologismos2 .finalbutton {
    margin: 15px 0px 0px 0px;
    border: 2px solid #f2ece6;
    border-radius: 10px;
    background-color: #f37021;
    margin-left: auto;
    margin-right: auto;
    width: 95%;

}

.upologismos h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.kampules {
    margin-top: 20px;
    background-color: #ec1c29;
    padding: 0px 5px 5px 5px;
}

.kampules a {    
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 0px 10px 10px;
    color: white;
}

.kampulesinner {
    padding: 5px;
    background-color: white;
}

.kampules button {
    width: 99%;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
    color: black;
    border: solid 2px #bcbcbc;
}

.kampules h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0 0 23px 0;
    margin: 5px 0px 0px 0px;
    line-height: 25px;
}

.lexicon {
    margin-top: 20px;
    background-color: #9f030d;
    padding: 0px 5px 5px 5px;
}

.lexicon a {    
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
    color: white;
}

.innerlexicon {
    background-color:white;
    padding: 2px 5px 5px 5px;
}

.innerlexicon h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0 0 23px 0;
    margin: 5px 0px 0px 0px;
    line-height: 25px;
}

.lexicon button {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #9f030d;
    color: #9f030d;
    margin-top: 17px;
    width: 95%;

}

.lexicon button:hover {
    background-color: #9f030d;
    color:white;
}

.innerlexicon textarea {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;;
    font-size: 26px;
}

.innerlexicon .searchbutton {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    border: solid 2px white;
    color: white;
    background-color: #9f030d;
}

.leftcontainer {
    width: 70%;
}

.rightcontainer {
    width: 30%;
}

.arthra {
    font-family: 'Roboto', sans-serif; 
    background-color: white;
    margin-top: 20px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.arthra button {
    color: black;
    padding: 0px;
}

.arthra button:hover {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.years {
    vertical-align: middle;
    background-color: #ffc3b2;
    margin: 5px 0 5px 0;
}

.years a {
    display: block;
    align-content:center;
    color: white;

}

.years img {
    padding-top: 34px;
    padding-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.years .h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-bottom: 17px;
}

.years:hover {
    background-color: #fa8a6b;
}

.year25 {
    vertical-align: middle;
    background-color: #6dcff6;
    margin: 5px 0 5px 0;
}

.year25:hover {
    background-color: #00adf3;
}

.year25 a {
    display: block;
    align-content:center;
    color: white;

}

.year25 img {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.year25 .h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-bottom: 17px;
}

.year611 {
    vertical-align: middle;
    background-color: #6dcff6;
    margin: 5px 0px 5px 0px;
}

.year611:hover {
    background-color: #00b3fb;
}

.year611 a {
    display: block;
    align-content:center;
    color: white;

}

.year611 img {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}
.year611 .h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        padding-bottom: 17px;
    }

.teens {
    vertical-align: middle;
    background-color: #ec1c29;
    margin: 5px 0px 5px 0px;
}

.teens:hover {
    background-color: #c8000c;
}

.teens a {
    display: block;
    align-content:center;
    color: white;

}

.teens img {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.teens .h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-bottom: 12px;
}

.sportsmen {
    vertical-align: middle;
    background-color: #7c51a1;
    margin: 5px 0px 5px 0px;
}

.sportsmen:hover {
    background-color: #6c28a7;
}

.sportsmen a {
    display: block;
    align-content:center;
    color: white;

}

.sportsmen img {
    display: block;
    padding-top: 22px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.sportsmen .h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        padding-bottom: 12px;
}

.school {
    vertical-align: middle;
    background-color: #1a8e46;
    margin: 5px 0px 5px 0px;
}

.school:hover {
     background-color: #02712c;
}

.school a {
    display: block;
    align-content:center;
    color: white;

}

.school img {
    display: block;
    padding-top: 22px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.school .h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        padding-top: 33px;
        padding-bottom: 12px;
}


.row {
    margin-bottom: 18px;
}

.recipe {
    background-color: white;
}

.recipe h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    padding-left: 15px;
}

.recipe button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.recipe button:hover {
    color: #72be44;
    text-decoration: none;
}

.recipe img {
    padding: 15px;
}

.recipe a {
    display: block;
}

.wintersoup {
    background-color: #72be44;
    margin-bottom: 40px;
}

.wintersoup h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 16px;
    margin: 20px 30px 20px 30px;
}

.wintersoup img {
    margin: 20px 0 10px 27px;
}

.backtotop {
    padding: 20px;
}

.hidden2 {
    display:none;
}

.backtotop img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.backtotop h4 {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.container-fluid {
    background-color: white;
}

.footerlogo {
    padding-top: 47px;
    padding-bottom: 90px;
}

.footercolors a {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

}

.footercolors h4 {
    margin-left: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.newsletter h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.newsletterform .form-control {
    margin-top: 5px;
    background-color: #f2ece6;
}

.newsletter .emailbox {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 2px;
    border-radius: 0px;
    background-color: #f2ece6;
    font-size: 26px;
}

.newsletter .greenbutton {
    margin: -2px;
    padding: 0px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 0;
}

.toknowusbetter {
    font-family: 'Ubuntu', sans-serif;
    background-color:#f6921e;
    color:white;
    padding: 35px;
    margin-top: 20px;

}

.toknowusbetter h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-bottom: 46px;
}

.toknowusbetter p {
    padding-top: 20px;
    padding-bottom: 50px;
}

.toknowusbetter button {
    font-size: 10px;
    background-color: #fbb03b;
    font-weight: 500;
    margin: 79px 0px 0px 0px;
    color: white;
    border: solid 2px #fbb03b;
    padding: 15px;

}

.toknowusbetter button:hover {
    background-color: white;
    border: solid 2px white;
    color: #fbb03b;
}

.omada {
    padding: 20px;
    font-family: 'Roboto';
    background-color: #9d76b3;
    color: white;
}

.omada h2 {
    padding-left: 20px;
}

.harablassi {
    background-color: white;
    margin-bottom: 10px;
}

.harablassi h4 {
    margin-top: 15px;
    padding-left: 10px;
    color: #563966;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.harablassi p {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10px;
    font-weight: 300;
    color: #808080;
}

.harablassi button {
    color: white;
    background-color: #563966;
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px 10px;
}

.harablassi .more2 {
    margin-top: 30px;
}

.harablassi button:hover {
    color: #563966;
    background-color: white;
    border-color: #563966;
}

.harablassi img {
    width: 100%;
}

.stats {
    margin-right: 25px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 65px;
}

.stats2 {
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 65px;
}

.stats h6, .stats2 h6 {
    align-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #786185;   

}

.stats p, .stats2 p {
    font-size: 15px;
    color: #808080;

}

.stats button {
    background-color: #9d76b3;
    color: white;
    padding: 5px 13px 5px 13px;
    border-radius: 7px;
    margin-top: 45px;
    margin-left: -5px;
}

.stats2 button {
    background-color: #9d76b3;
    color: white;
    padding: 5px 13px 5px 13px;
    border-radius: 7px;
    margin: 30px 0px 15px 5px;
}

.rowfix {
    margin-left: 0px;
    margin-right: 0px;
}

.arthra .pinkpacifier {
    padding: 10px;
    text-align: left;
}

.arthra .pinkpacifier h2 {
        font-size: 22px;
}

.carousel-caption .pacifier:hover {
    background-color: white;
    color: #ffc3b2;
    border: 0px;
}

.carousel-caption .brownbutton:hover {
    background-color: white;
    color: #875430 ;
    border: 0px;
}

    .carousel-caption .diabase:hover {
        background-color: white;
        color: #6dcff6;
        border: 0px;
    }


    .carousel-caption .bicycle:hover {
        background-color: white;
        color: #009edb;
        border: 0px;
    }

.arthra .redpacifier {
    padding: 10px;
    text-align: center;
}

.arthra .purplepacifier {
    padding: 10px;
    text-align: center;
}

.mood img {
    width: 100%;
}

.mood a:hover {
    text-decoration: none;
}

.mood h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 29px;
    margin-bottom: 0px;
}

.mood h4:hover {
    text-decoration: none;
}

.pinkmood {
    background-color: #f79a82;
}

.pinka a {
    color: #f79a82;
}

.orangea a{
    color: #f6921e;
}

.mood2 {
    background-color: #ec1c29;
}

.mood3 {
    background-color: #7c51a1;
}

.orangemood {
    background-color: #f6921e;
}

.darkorangemood {
     background-color:#f15a24;
}

.lightorangemood {
    background-color:#ffb83b;
}

.searchbar {
    margin-top: 14px;
    padding-top: 30px;
    padding-bottom: 29px;
    border-radius: 12px;
    font-size: 36px;
}

.searchbutton button {
    padding: 0px;
    border: none;
}

.searchbarbackground {
    background-color: #d9e1dc;
}

.searchbarbackground1 {
    background-color: #fbd3a5;
}

.searchbarbackground2 {
    background-color: #ebc898;
}
.arthralist {
    background-color: white;
    padding-left: 0px;
}
.arthralist h2 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 5px;
    font-family: 'Roboto', sans-serif; 
    font-weight:bold;
    font-size: 19px;
    color:black;
    text-decoration: none;

}

.arthralist p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 20px;
    color: black;
}

.arthraa {
    padding: 0px;
}

.arthralistinner {
    background-color: white;
}

.mood4 {
    margin-top: -10px;
}

.kathgoriesbutton {
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 12px;
}

.arthra h1 {
    margin-top: 0px;
    padding-bottom: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.headercols{
    font-family: 'Roboto' sans-serif;
    display: block;
    padding: 28px 40px 28px 20px;
    text-align: center;
    font-size: 13px;
    color:white;
    font-weight: 500;
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    width: 100%;

}

.btn .active .focus {
    outline: none;
}



.btn:focus, .btn:hover {
    color: white;
    outline: none;
}
.pinkcontainer {
    display: 
}

.pinkheader {
        background-color: #f79a82;
}
.redheader {
    background-color: #ec1c29;
}
.purpleheader {
    background-color: #7c51a1;
}

.article_container
{
    display:none;
}



.carousel-caption h1 {
    color:white;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.orange {
    vertical-align: middle;
    margin: 5px 0 5px 0;
}

.orange2 {
    vertical-align: middle;
    margin: 0px 0 5px 0;
}

.orange a {
    display: block;
    align-content:center;
    color: white;

}

.darkorange img {
    padding-top: 70px;
    padding-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lightorange img {
    padding-top: 100px;
    padding-bottom: 97px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.orangish img {
    padding-top: 70px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.orange .h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-bottom: 17px;
}

.orangish {
    background-color: #f6921e;
}

.orangebutton:hover {
    background-color: white;
    color: #f6921e;
    border: none;
}

.orangish:hover {
    background-color: #df7800;
}

.darkorange {
    background-color:#f15a24;
}

.darkorange:hover {
    background-color: #ed4306;
}

.lightorange {
    background-color:#ffb83b;
}

.lightorange:hover {
    background-color: #ea990a;
}

.plainwhite {
    background-color: white;
}

.plainwhite .image {
    padding-left: 5px;
}

.imageandtext, .imageandtextpacifier, .imageandtext2 {
    background-color: white;
    border-bottom: solid 2px #cccccc;
}

.imageandtext2 {
    padding-bottom: 24px;
}

.imageandtext3 {
    border-bottom: 2px solid #cccccc;
}

.imageandtext3 a {
    text-decoration: none;
    text-align: right;

}
.imageandtext3 .btn {
    border: none;
    margin:0px;
    padding: 30px 20px 30px 20px;
    width: 100%;
}

.imageandtext a {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
}

.imageandtext2 img {
    padding-top: 20px;
}

.imageandtextpacifier a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.imageandtextpacifier .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}



.innerarticle h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-top: 53px;
    padding-left: 25px;
    padding-right: 15px;
}

.innerarticle p {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.innerarticle h1 {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 500;
}

.brown {
    vertical-align: middle;
    margin: 0px 0 5px 0;
}

.brown a {
    display: block;
    align-content:center;
    color: white;
    margin-top: 0px;

}

.brownish {
    background-color: #875430;
}

.lightbrown {
    background-color: #dea454;
}

.fadebrown {
    background-color: #d8b28e;
}

.brownish img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.brown .h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding-bottom: 17px;
    padding-top: 15px;
}

.darkbrown a {
    display: block;
    align-content:center;
    color: white;
    background-color: #ce8c49;

}

.darkbrown .h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: -15px;
    margin-top: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 29px;
}

#background {
    background-image: url('../images/bodybackground.png');
    background-size: cover;
}

.backgroundcolor {
    padding:10px;
    background: rgba(255, 255, 255, 0.5);

}

.likebuttons {
    padding-left: 270px;
    padding-top: 20px;
}

.fuckingmuffins2 {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.ulika {
    background-color: #ebc898;
    line-height: 35px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url('images/brown-triangle-up.png');
    background-position: top left;
    background-repeat: repeat-x;
}

.fuckingmuffins2 h3, .ulika h3 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.fuckingmuffins2 p, .ulika p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.ulika p {
    color:#875430;
}

.fuckingmuffins2 p {
    color: #919191;
}

.whitebox {
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;

}

.adjusted a {
    padding-top: 5px;
    display: inline-block;
}

.adjusted2 a{
    margin-bottom: 16px;
    display:inline-block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.adjusted2 {
    border-bottom: 2px solid #cccccc;
    padding-left: 10px;
}

.whitebox p, .whitebox h4 {
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.whitebox h2 {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.mhnuma h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -7px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.whitebox h4 {
    padding-top: 15px;
}

.vertical {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mhnuma {
    display: block;
    background-color: white;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url('images/message-iconsmall.png');
}

.form-group label {
    font-family: 'Ubuntu', sans-serif;
    color: #51bae6;
    font-weight: 500;
    font-size: 14px;
}

.formgroup {
    padding-bottom: 10px;
}

.formgroup input {
    border-radius:10px;
    height: 50px;
    font-size: 25px;
    background-color: #e6e6e6;
}

.textarearight .form-control {
    font-size: 18px;
    background-color: #e6e6e6;
}

.bluebutton {
    font-size: 12px;
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #51bae6;
    color: white;
    padding: 17px;
}

.xrhsima {
    text-align: center;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
}

.usefullinks {
    display:block;
    background-color: white;
}

.usefullinks a {
    text-decoration: none;
}

.usefullinks .h3 {
    padding-left: 10px;
    line-height: 40px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}

.usefullinks2 {
    padding-left: 10px;
}

.usefullinks .p {
    display: block;
    line-height: 40px;
    margin-bottom: 0px;
    padding-right: 60px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
} 
.usefullinks2 .h3 {
    padding-left: 0px;
}

.pdf {
    background-image: url('images/pdf-icon.png');
    background-repeat: no-repeat;
    background-position: 97% center;
}
.doc {
    background-image: url('images/doc-icon.png');
    background-repeat: no-repeat;
    background-position: 97% center;
}

.doc:hover {
        background-image: url('images/doc-hover.png');
        background-repeat: no-repeat;
        background-position: 97% center;
    }

.usefullinks:hover {
    background-color: #2a579a;
}

.usefullinks:hover h3, p {
    color: black;
}

.more {
    display: block;
    background-color: orange;
    padding: 10px;
    font-size: 14px;
}

.more:hover {
    text-decoration: none;
}

.justabutton {
    padding: 3px;
    border-bottom: 2px solid #cccccc;

}

.justabutton a {
    color: orange;
    margin-left: 10px;
    text-decoration: none;

}
.justabutton .btn {
    border: none;
    margin:0px;
    padding: 25px;
}

.inlinelikebuttons {
    border-bottom: 2px solid #cccccc;
}

.inlinelikebuttons .btn {
    border: none;
    margin: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.navbar-default .navbar-nav>li>a:hover {
   color: white;
}









/*==================================================
=            Bootstrap 3  Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

#myCarousel1 p {
    font-size: 15px;
}
#myCarousel1 h4 {
    font-size: 26px;
}

    .usefullinks .h3 {
        font-size: 13px;
}

.usefullinks .p {
    font-size: 11px;
    padding-right: 122px;
} 

.imageandtext a {
    text-align: center;
}



    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

.headercols {
    font-size: 15px;
}
.recipe h2 {
    font-size: 36px;
}
.carousel-caption h1 {
    font-size: 32px;
}

.upologismos a, .lexicon a, .kampules a {
    font-size: 22px;
}

.fixer {
    width: 98%;
    margin-left: -14px;
}

/*.arthra .pinkpacifier .btn {
    padding: 15px;
}*/

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
     margin-left: 0px; 
}

.btn .greenbutton {
    margin: 0px;
    padding: 0px;
}

.orama, .philosophy {
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 20px;
}

.orama h3, .philosophy h3 {
    font-size: 36px;
    padding-top: 38px;
}
.orama p{
    padding-top: 54px;
    font-size: 17px;
    padding-bottom: 80px;
    padding-left: 20px;
}

.philosophy p {
    padding-top: 54px;
    font-size: 17px;
    padding-bottom: 84px;
    padding-left: 20px;
}

.carousel-caption {
    left: 0;
    right: 0;
}

.carousel-caption h4 {
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 18px;
}

.innerlexicon h3 {
    margin-bottom: 0px;
}

.omada h2 {
    font-size: 36px;
}

.arthra h1 {
       font-size: 29px;
       text-align: center;
       vertical-align: middle;
       margin-top: 15px;
       padding-bottom: 0px;
       margin-left: 45px;

}
.imageandtext a {
    padding-left: 25px;
    font-size: 15px;
}

.imageandtext {
    background-image: url('images/return-to-articles-button.png');
    background-repeat: no-repeat;
    background-position: 15% center;
}

.imageandtext .btn {
    margin: 0px;
    border: none;
    padding: 30px 100px 30px 100px;
}

.imageandtext2 img {
    padding-left: 10px;
    padding-top: 20px;
}

.kathgoriesbutton {
    font-size: 15px;
    margin-top: 25px;
}

.imageandtextpacifier a {
    font-size: 15px;

}

.imageandtextpacifier img {
    padding-right: 50px;
}

.innerarticle h1 {
    font-size: 36px;
}


.innerarticle h2 {
    font-size: 24px;
    padding-top: 53px;
    padding-left: 97px;
}

.innerarticle p {
    font-size: 14px;
    padding-top: 53px;
    padding-left: 97px;
    padding-right: 90px;
    padding-bottom: 90px;
}

.arthralistinner {
       background-color: white;
       margin-right: 0px;
        }

.fuckingmuffins h1 {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 15px;
    text-decoration: underline;
    padding-bottom: 30px;
}

.fuckingmuffins2 {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.fuckingmuffins2 p, .ulika p {
    font-size: 16px;
}

.fuckingmuffins2 h3, .ulika h3 {
    font-size: 26px;
}
.mhnuma {
    background-image: url('images/message-icon.png');
    margin-right: 25px;
}
.mhnuma h2 {
    font-family: 'Roboto' , sans-serif;
    font-size: 30px;
    padding-left: 10px;
}

.form-group label {
    font-size: 18px;
}

.bluebutton {
    font-size: 15px;
}

.margins {
    margin-right: 5px;
    margin-left: 5px;
}

.formgroup {
    padding-bottom: 88px;
    padding-top: 10px;
}

.textarearight {
    padding-top: 10px;
}

.wintersoup h3 {
    font-size: 26px;
    margin: 32px 30px 32px 30px;
}

.lexicon button {
    padding-left: 15px;
    padding-right: 15px;
}

.imageandtext3 {
    background-image: url('images/zugaria-orange-background-white.png');
    background-repeat: no-repeat;
    background-position: 15% center;
}

.more {
    font-size: 15px;
}

.harablassi h4 {
    padding-top: 0px;
    color: #563966;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.harablassi p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #808080;
}

.harablassi button {
    color: white;
    background-color: #563966;
    margin-top: 32px;
    margin-left: 10px;
    padding: 5px 10px;
}





.harablassi .more2 {
    margin-top: 11px;
    margin-bottom: 16px;
    margin-left: 10px;
}









}

.arthralist h2 {
    padding-top: 32px;
}









    /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .arthra button {
        margin-right: 30px;
        margin-top: 20px;
    }
    .headercols {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .bigassbutton {
            height: 100px;
            width: 380px;
            position: absolute;
            margin-top: 15px;
            box-shadow: 5px 5px 10px -2px black;
    }

    .backgroundcolor {
        padding: 8px;

    }

    .adjusted2 {
        border-bottom: 2px solid #cccccc;
        margin-left: -15px;
        padding-left: 100px;
    }

    .imageandtext3 {
        border-left: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
    }


    .kampules button {
        font-size: 13px;
    }


    .captionbox {
        height: 380px;
        width: 40%;
        color: white;
        position: absolute;
        margin-top: -410px;
    }

    .carousel-caption h4 {
        font-size: 30px;
        padding-left: 15px;
        text-align: left;
    }

    .carousel-caption .btn {
        margin-left: -150px;
    }


    .captionbox1 {
        background-color: #ffc3b2;
        background-image: url('images/pacifier-absolute.png');
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
    }

    .captionbox2 {
        background-color: #009edb;
        background-image: url('images/bicycle-absolute.png');
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
    }

    .captionbox3 {
        background-color: #6dcff6;
        background-image: url('images/abc-triangle-absolute.png');
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 90%;
    }

    .orangecaptionbox {
        background-color: orange;
    }

    .browncaptionbox {
        background-color: #dea454;
    }

    .lexicon button {
        font-size: 13px;
    }

    .innerlexicon .searchbutton {
        font-size: 13px;
        padding-left: 52px;
        padding-right: 53px;
    }

    /*.pinkheader {
        width: 105%;
        position: absolute;
        background-color: #ffc3b2;
    }*/

    .toknowusbetter h3 {
        font-size: 34px;
    }

    .toknowusbetter p {
        font-size: 18px;
    }

    .toknowusbetter button {
        font-size: 15px;
    }


    .arthra .deutero {
        margin-top: -50px;
    }

    .arthralist h2 {
        font-size: 21px;
    }

    .arthralist p {
        font-size: 15px;
        color: black;
        padding-right: 69px;
    }

    .imageandtext a {
        font-size: 15px;
    }

    .imageandtext {
        border-bottom: solid 2px #cccccc;
        margin-left: 14px;
    }

    .imageandtextpacifier {
        border-left: solid 2px #cccccc;
        border-bottom: solid 2px #cccccc;
        border-right: solid 2px #cccccc;
        ;
    }

    .imageandtext2 {
        margin-right: 15px;
    }

    .nopadding2 {
        position: static;
        padding-right: 0px;
        padding-left: 0px;
    }

    .whitebox {
        background-color: white;
        margin-left: 0px;
        margin-right: 0px;
    }

        .whitebox p {
            padding: 0px 0px 25px 0px;
            line-height: 20px;
            font-size: 15px;
        }

        .whitebox h4 {
            line-height: 60px;
            font-size: 15px;
        }

        .whitebox h2 {
            font-size: 30px;
            padding-top: 0px;
            margin-top: 15px;
        }

    .vertical img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 200px;
    }

    .vertical {
        padding-top: 22px;
        padding-bottom: 20px;
        margin-left: -35px;
    }

    .justabutton {
        padding: 5px;
        border-bottom: 2px solid #cccccc;
        border-left: 2px solid #cccccc;
        border-right: 2px solid #cccccc;
    }

    .inlinelikebuttons {
        margin-right: 15px;
    }

    .captionbox3 .btn {
        margin-top: 45px;
    }

    .carousel-caption p {
        text-align: left;
        padding-left: 15px;
        font-size: 20px;
    }

    .harablassi button {
        color: white;
        background-color: #563966;
        margin-top: 75px;
        margin-left: 10px;
        padding: 5px 10px;
    }

    .harablassi .more2 {
        margin-top: 35px;
        margin-bottom: 0px;
    }

    .mhnuma h2 {
        padding-top: 10px;
        padding-bottom: 5px;
}








    /*Large Devices, Wide Screens*/
    @media only screen and (min-width : 1200px) {

        .arthra h1 {
            font-size: 36px;
        }

        .backgroundcolor {
            padding: 10px;

        }

        .arthralist h2 {
            font-size: 24px;
        }

        .arthralist p {
            font-size: 16px;
        }

        .usefullinks .p {
            padding-right: 75px;
        }

        .kampules button {
            font-size: 15px;
        }

        .lexicon button {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 99%;
        }

        .carousel-caption .btn {
            margin-left: -230px;
        }

        .arthra .pinkpacifier {
            padding: 10px;
            background-image: url('images/pink-pacifier-abc-block.png');
            background-repeat: no-repeat;
            background-position: 2% center;
            text-align: center;
        }



        .arthra .redpacifier {
            padding: 10px;
            background-image: url('images/red-small-bicycle-backpack.png');
            background-repeat: no-repeat;
            background-position: 2% center;
            text-align: center;
        }

        .arthra .pinkpacifier h2, .purplepacifier h2 {
            font-size: 28px;
            padding-right: 20px;
        }

        .redpacifier h2 {
            padding-right: 110px;
        }

        .arthra .purplepacifier {
            padding: 10px;
            background-image: url('images/purple-syringe-and-shoe.png');
            background-repeat: no-repeat;
            background-position: 2% center;
            text-align: center;
        }

        .harablassi h4 {
            margin-top: 60px;
        }

        .harablassi button {
            color: white;
            background-color: #563966;
            margin-top: 75px;
            margin-left: 10px;
            padding: 5px 10px;
        }

        .harablassi .more2 {
            margin-top: 55px;
            margin-bottom: 0px;
        }

        .bigassbutton {
            height: 100px;
            width: 400px;
            position: absolute;
            margin-top: 10px;
            }
    }
}





   
