﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactFormViewModel>
@using MyUmbraco.Controllers;
@using MyUmbraco.Models;
@using Umbraco.Web;

@using (Html.BeginUmbracoForm<ContactFormSurfaceController>("HandleContactForm"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="col-md-7 formgroup whitebox">
        <div class="form-group">
            <label for="usr">Όνομα</label>
            <span class="required">*</span>
            @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control", tabindex = 1 })
            @Html.ValidationMessageFor(model => model.Name)<br />
        </div>
        <div class="form-group">
            <label for="usr">Επώνυμο</label>
            <span class="required">*</span>
            @Html.TextBoxFor(model => model.Surname, null, new { @class = "form-control", tabindex = 2 })
            @Html.ValidationMessageFor(model => model.Surname)<br />
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <span class="required">*</span>
            @Html.TextBoxFor(model => model.Email, null, new { @type = "email", @class = "form-control", tabindex = 3 })
            @Html.ValidationMessageFor(model => model.Email)<br />
        </div>
    </div>

    <div class="col-md-5  whitebox">
        <div class="form-group">
            <div class="textarearight">
                <label for="comment">ΤΟ ΜΗΝΥΜΑ ΣΑΣ</label>
                <span class="required">*</span>
                @Html.TextAreaFor(model => model.Message, new Dictionary<string, Object> { {"class", "form-control" }, { "required", "" }, { "rows", "10" } })
                @Html.ValidationMessageFor(model => model.Message)<br />
            </div>
        </div>
        <input type="submit" class="btn bluebutton pull-right" value="ΑΠΟΣΤΟΛΗ ΜΗΝΥΜΑΤΟΣ" />
        <div class="clear"></div>
    </div>

    <div class="clear"></div>
}



<script>
    $(document).ready(function () {

        $("#contact").click(function (event) {
            event.preventDefault();
            $(this).closest('form').submit();
            return false;
        });

    });
</script>