﻿@using MyUmbraco.Models;
@using MyUmbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<YpologismosDMSViewModel>

@{ 
    
}


@using (Html.BeginUmbracoForm<YpologismosDMSSurfaceController>("HandleDMS"))
{
    <div class="upologismos2">
        <h5>@umbraco.library.GetDictionaryItem("title.fulo")</h5>
        <div class="form-group">
            <select name="Gender" class="form-control" id="sel1">
                <option></option>
                <option>@umbraco.library.GetDictionaryItem("male")</option>
                <option>@umbraco.library.GetDictionaryItem("female")</option>
            </select>
        </div>
        <h5>@umbraco.library.GetDictionaryItem("ilikia")</h5>
        @*<input type="text" class="form-control" id="comment">*@
        @Html.TextBoxFor(model => model.Age, null, new { @class = "form-control", @id = "comment", @method = "post", @Value = "" })

        <h5>@umbraco.library.GetDictionaryItem("upsos")</h5>
        @Html.TextBoxFor(model => model.Height, null, new { @class = "form-control", @id = "comment", @method = "post", @Value = "" })

        <h5>@umbraco.library.GetDictionaryItem("baros")</h5>
        @Html.TextBoxFor(model => model.Weight, null, new { @class = "form-control", @id = "comment", @method = "post", @Value = "" })

        <button class="btn btn-block finalbutton" type="submit">
            @umbraco.library.GetDictionaryItem("btn.upologismos")
        </button>
    </div>
}

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $(this).closest("form").submit();
        })
    });
</script>
