﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchBarViewModel>
@using MyUmbraco.Controllers
@using MyUmbraco.Models
@using Umbraco.Web;

@Html.ValidationSummary(true)
@Html.AntiForgeryToken()

<!DOCTYPE html>
<head>
    <script type="text/javascript" src="~/scripts/dictionary-AJAX-call.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginUmbracoForm("HandleDictionarySearching", "SearchDictionarySurface", null, new { @id = "searchForm" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                string value = "";
                if (!string.IsNullOrEmpty(Request.QueryString["query"]))
                {
                    value = Request.QueryString["query"];
                }
                @Html.TextBoxFor(model => model.query, null, new { @class = "homesearchbar form-control", @method = "post", @id = "query", @Value = value })

            }
        </div>
    </div>



    @{for (int i = 0; i < 24; i++)
            {
                char letter = (char)('Α' + i);

            <div class="col-xs-1">
                <button class="dictionary_buttons">
                    @letter
                </button>
            </div>
        }
    }
    <script>
        $(document).ready(function () {
            $(".dictionary_buttons").click(function () {

                var searchThisLetter = $(this).text().trim();

                // alert(searchThisLetter + ":" + searchThisLetter.length);
                $(".styled button").each(function (index, element) {
                    var dictionaryItem = $(element);
                    var leksi = $(this).text(); //mou dinei to node alias 'leksi' se string

                    leksi.trim();
                    //alert(leksi+":"+leksi.length);
                    var firstLeksiLetter = leksi.charAt(0);// index 0 of the alias' 'leksi' value
                    //alert(firstLeksiLetter + ":" + firstLeksiLetter.length);
                    if (searchThisLetter == firstLeksiLetter) {
                        $(this).closest(".styled").css("display", "block");

                    }
                    else if (searchThisLetter !== firstLeksiLetter) {
                        $(this).closest(".styled").css("display", "none");

                    }
                    //else
                    //{
                    //    $("#dictionary").find(".styled").each(function (index, element) {
                    //        $(dictionaryItem).css("display", "block");
                    //    });
                    //}



                });

            });
        })
    </script>
</body>































