﻿@using Umbraco.Web;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@using MyUmbraco.Models;
@{ 
    var homePage = Model.Content.AncestorOrSelf("homePage");
}


<div class="container">
    <div class="row>
        <div class="col-md-12">
            <div>
                <button class="btn align-self-center scrollToTop">
                    @if (Model.Content.AncestorOrSelf("homePage").HasValue("backToTopButton"))
                    {
                        var backToTopButton = Umbraco.Media(Model.Content.AncestorOrSelf("homePage").GetPropertyValue<string>("backToTopButton"));
                        <img src="@backToTopButton.UmbracoFile" />
                    }
                    <h4>@umbraco.library.GetDictionaryItem("Return To Top")</h4>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="footerlogo">
                    <a href="@homePage.Url">
                        @if (Model.Content.AncestorOrSelf("homePage").HasValue("mainLogo"))
                        {
                            var mainLogo = Umbraco.Media(Model.Content.AncestorOrSelf("homePage").GetPropertyValue<string>("mainLogo"));
                            <img class="img-responsive center-block" src="@mainLogo.UmbracoFile" alt="@mainLogo.Name" />
                        }
                    </a>
                    </a>
                </div>
            </div>
            <div class="footercolors">
                <div class="col-sm-2">
                    <ul class="nav nav-pills nav-stacked text-left">
                        <li><h4>@umbraco.library.GetDictionaryItem("Menu")</h4></li>
                        @foreach (var menuItem in Model.Content.AncestorOrSelf("homePage").Children.Where("Visible"))
                        {
                            var menuItem1 = "";
                            if (menuItem.Id == 1258)
                            {
                                menuItem1 = "display:none";
                            }

                            <li style="@menuItem1"><a href="@menuItem.Url">@menuItem.Name</a></li>

                        }
                    </ul>

                </div>

                <div class="col-sm-2">
                    <ul class="nav nav-pills nav-stacked text-left">
                        <li><h4>@umbraco.library.GetDictionaryItem("Contact Title")</h4></li>
                        @foreach (var menuItem in Model.Content.AncestorOrSelf("homePage").Children)
                        {
                            var menuItem1 = "display:none";
                            if (menuItem.Id == 1258)
                            {
                                menuItem1 = "";
                            }

                            <li style="@menuItem1"><a href="@menuItem.Url">@menuItem.Name</a></li>

                        }
                        <li><a href="@(umbraco.library.GetDictionaryItem("Facebook Link"))">@(umbraco.library.GetDictionaryItem("Facebook"))</a></li>
                        <li><a href="@(umbraco.library.GetDictionaryItem("Twitter Link"))">@(umbraco.library.GetDictionaryItem("Twitter"))</a></li>
                        <li><a href="@(umbraco.library.GetDictionaryItem("Instagram Link"))">@(umbraco.library.GetDictionaryItem("Instagram"))</a></li>
                        <li><a href="@(umbraco.library.GetDictionaryItem("Yummi Link"))">@(umbraco.library.GetDictionaryItem("Yummi"))</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked text-left">
                        <li><h4>@umbraco.library.GetDictionaryItem("Useful Links")</h4></li>
                        <li><a href="#">LINKS</a></li>
                        <li><a href="#">ΥΠΟΛΟΓΙΣΜΟΣ ΔΜΣ</a></li>
                        <li><a href="#">ΔΙΑΤΡΟΦΙΚΟ ΛΕΞΙΚΟ</a></li>
                        <li><a href="#">ΚΑΜΠΥΛΕΣ ΑΝΑΠΤΥΞΗΣ</a></li>
                        <li><a href="#">ΔΡΑΣΕΙΣ</a></li>
                    </ul>
                </div>
                @{ Html.RenderPartial("_NewsletterBar", new ContactFormViewModel());}
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.scrollToTop').click(function () {
            $('body, html').animate({ scrollTop: 0 }, 600);
        });
    });
</script>