﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="/css/styles.css" rel="stylesheet" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,500,700,800&subset=latin,greek,greek-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,500,600,800&subset=latin,greek-ext,greek' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700,800&subset=latin,greek,greek-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800&subset=latin,greek,greek-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800&subset=latin,greek,greek-ext' rel='stylesheet' type='text/css'>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/scripts/Custom Plugins/myJquery2.js"></script>

<title>@(Model.Content.GetPropertyValue<string>("pageTitle"))</title>
