﻿@using Umbraco.Web;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var homePage = Model.Content.AncestorOrSelf("homePage");
}


<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="logo">
            <a href="@homePage.Url" class="navbar-brand">
                @if (Model.Content.AncestorOrSelf("homePage").HasValue("mainLogo"))
                { var mainLogo = Umbraco.Media(Model.Content.AncestorOrSelf("homePage").GetPropertyValue<string>("mainLogo"));
                    <img class="img-responsive" src="@mainLogo.UmbracoFile" alt="@mainLogo.Name" />
                }
            </a>
        </div>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navheadercollapse">
            <img class="img-responsive" src="~/css/images/burger-menu-button.png" />
        </button>
        <div class="collapse navbar-collapse navheadercollapse  mainMenu">
            <ul class="nav navbar-nav navbar-right ">
                @foreach (var menuItem in Model.Content.AncestorOrSelf("homePage").Children.Where("Visible"))
                {

                    <li><a href="@menuItem.Url">@(menuItem.GetPropertyValue<string>("pageTitle"))</a></li>

                }
            </ul>
        </div>
    </div>
</div>
