﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactFormViewModel>
@using MyUmbraco.Models;
@using MyUmbraco.Controllers;
@using Umbraco.Web;









@using (Html.BeginUmbracoForm<NewsletterSurfaceController>("HandleNewsletterForm"))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="newsletter">
        <div class="col-md-5">

            <h4>@umbraco.library.GetDictionaryItem("Newsletter Title")</h4>
            <div class="input-group">
                @*<input type="text" class="form-control emailbox" placeholder="E-mail">*@
                @Html.TextBoxFor(model => model.Email, null, new { @type = "email", @class = "form-control emailbox", @placeholder = "E-mail", tabindex = 1 })
                @Html.ValidationMessageFor(model => model.Email)<br />
                <span class="input-group-btn">
                    <input type="image" src="~/css/images/email-submit-button.png" id="newsletter" class="btn greenbutton" alt="Submit">
                </span>
            </div>
        </div>
    </div>
}

    <script>
        //the script is the one that tells the controller to send the data to the model. If we don't have that, we can't do anything.
        $(document).ready(function () {

            $('#newsletter').click(function (event) {
                event.preventDefault();
                $(this).closest('form').submit();
                return false;
            });

        });
    </script>
