﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchBarViewModel>
@using MyUmbraco.Controllers
@using MyUmbraco.Models
@using Umbraco.Web;

@{
    var node = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}





        @using (Html.BeginUmbracoForm<SearchSurfaceController>("HandleTheSearching", null, new { @class = "input-group input-lg add-on" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            @*<form action="" method="post" target="_blank" class="input-group input-lg add-on searchbarbackground">*@
            @Html.TextBoxFor(model => model.query, null, new { @class = "form-control searchbar", @method = "post", @target = "_blank", @id = "query" })

            <div class="input-group-btn searchbutton">
                <button class="btn" type="submit" tabindex="2" id="search">
                    @if (node == Umbraco.TypedContent(1254))
                    {
                        <img src="~/css/images/focal-lense-brown.png" />
                    }
                    else
                    {
                        <img src="~/css/images/focal-lense.png" />
                    }

                </button>
            </div>
            @*</form>*@

        }


<script>//the script is the one that tells the controller to send the data to the model. If we don't have that, we can't do anything.
    $(document).ready(function () {

        $("#search").click(function (event) {
            event.preventDefault();
            $(this).closest('form').submit();
            return false;
        });

    });
</script>
