﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<head>
    @*This page is titled arthra.html in the nutrischool project*@
    <title>Άρθρα</title>
    @Html.Partial("_HeadIncludes")
</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-link kathgoriesbutton">
                            < Επιστροφή στις κατηγορίες
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h1>Τα άρθρα μας</h1>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-lg add-on searchbarbackground">
                    <input class="form-control searchbar" name="srch-term" id="srch-term" type="text">
                    <div class="input-group-btn searchbutton">
                        <button class="btn" type="submit">
                            <img class="hidden-sm hidden-md hidden-lg" src="css/images/focal-lense.png" />
                            <img class="hidden-xs" src="css/images/orange-search-button.jpg" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="menu" class="col-md-12">
                <div class="col-md-4 nopadding">
                    <button data-jab="1" class="btn headercols pinkmood smallfont bigassbutton">
                        Σύλληψη μέχρι τα πρώτα βήματα
                    </button>
                </div>
                <div class="col-md-4 nopadding">
                    <button data-jab="2" class="btn headercols mood2">
                        Παιδί και Εφηβεία
                    </button>
                </div>
                <div class="col-md-4 nopadding">
                    <button data-jab="3" class="btn headercols mood3">
                        Μικροί Αθλητές
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container dacontainer hidden2" id="1" style="display:block">
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood pinkmood mood4">
                        <a href="#">
                            <h4>
                                01/03/2016
                            </h4>
                            <img class="img-responsive" src="images/crying-baby-259-233.jpg" />
                        </a>
                    </div>
                </div>
                @foreach (var item in Model.Content.Children)
                {

                    <div class="col-md-8">
                        <div class="arthralist">
                            <a href="#">
                                <h2>@Html.Raw(item.GetPropertyValue<string>("articleTitle"))</h2>
                                <p>
                                    @Html.Raw(item.GetPropertyValue<string>("articleMainBodyText"))
                                </p>
                            </a>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="pinkmood mood mood4">
                        <a href="#">
                            <h4>
                                01/03/2016
                            </h4>
                            <img src="images/kid-with-blocks-259-233.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Δώστε του την ενέργεια με τις σωστές όμως τροφές.</h2>
                            <p>
                                Μην πιέζετε το παιδί να «αδειάσει» το πιάτο του αν βλέπετε ότι έχει χορτάσει.
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται ότι πρέπει να φάει
                                μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς. Προσπαθήστε να καταλάβετε πότε
                                χορταίνει και πότε αρνείται να φάει το φαγητό του απλά με σκοπό είτε να
                                «τραβήξει» την προσοχή είτε να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε,
                                αν ισχύει η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό ή σνακ-
                                είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="pinkmood mood mood4">
                        <a href="#">
                            <h4>
                                01/03/2016
                            </h4>
                            <img src="images/kid-pooping-259-233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Μπορώ και μόνος μου! Πως το αντιμετωπίζω?</h2>
                            <p>
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται
                                ότι πρέπει να φάει μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς.
                                Προσπαθήστε να καταλάβετε πότε χορταίνει και πότε αρνείται να φάει
                                το φαγητό του απλά με σκοπό είτε να «τραβήξει» την προσοχή είτε
                                να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε, αν ισχύει
                                η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό
                                ή σνακ- είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container dacontainer hidden2" id="2">
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood2 mood4">
                        <a href="#">
                            <h4>
                                09/03/2016
                            </h4>
                            <img src="images/woman-eating-apple 259 233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Διατροφή & Διάθεση. Περισσότερα φρούτα... λιγότερο κλάμα!</h2>
                            <p>
                                Μην πιέζετε το παιδί να «αδειάσει» το πιάτο του αν βλέπετε ότι έχει χορτάσει.
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται ότι πρέπει να φάει
                                μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς. Προσπαθήστε να καταλάβετε πότε
                                χορταίνει και πότε αρνείται να φάει το φαγητό του απλά με σκοπό είτε να
                                «τραβήξει» την προσοχή είτε να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε,
                                αν ισχύει η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό ή σνακ-
                                είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood2 mood4">
                        <a href="#">
                            <h4>
                                01/03/2016
                            </h4>
                            <img src="images/sad-teen-girl 259 233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Δώστε του την ενέργεια με τις σωστές όμως τροφές.</h2>
                            <p>
                                Μην πιέζετε το παιδί να «αδειάσει» το πιάτο του αν βλέπετε ότι έχει χορτάσει.
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται ότι πρέπει να φάει
                                μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς. Προσπαθήστε να καταλάβετε πότε
                                χορταίνει και πότε αρνείται να φάει το φαγητό του απλά με σκοπό είτε να
                                «τραβήξει» την προσοχή είτε να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε,
                                αν ισχύει η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό ή σνακ-
                                είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood2 mood4">
                        <a href="#">
                            <h4>
                                03/02/2016
                            </h4>
                            <img src="images/woman-reading-books 259.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Μπορώ και μόνος μου! Πως το αντιμετωπίζω?</h2>
                            <p>
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται
                                ότι πρέπει να φάει μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς.
                                Προσπαθήστε να καταλάβετε πότε χορταίνει και πότε αρνείται να φάει
                                το φαγητό του απλά με σκοπό είτε να «τραβήξει» την προσοχή είτε
                                να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε, αν ισχύει
                                η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό
                                ή σνακ- είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container dacontainer hidden2" id="3">
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood3 mood4">
                        <a href="#">
                            <h4>
                                09/03/2016
                            </h4>
                            <img src="images/basketball-kids 259x233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Διατροφή & Διάθεση. Περισσότερα φρούτα... λιγότερο κλάμα!</h2>
                            <p>
                                Μην πιέζετε το παιδί να «αδειάσει» το πιάτο του αν βλέπετε ότι έχει χορτάσει.
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται ότι πρέπει να φάει
                                μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς. Προσπαθήστε να καταλάβετε πότε
                                χορταίνει και πότε αρνείται να φάει το φαγητό του απλά με σκοπό είτε να
                                «τραβήξει» την προσοχή είτε να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε,
                                αν ισχύει η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό ή σνακ-
                                είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood3 mood4">
                        <a href="#">
                            <h4>
                                01/03/2016
                            </h4>
                            <img src="images/kid-with-cones 259x233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Δώστε του την ενέργεια με τις σωστές όμως τροφές.</h2>
                            <p>
                                Μην πιέζετε το παιδί να «αδειάσει» το πιάτο του αν βλέπετε ότι έχει χορτάσει.
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται ότι πρέπει να φάει
                                μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς. Προσπαθήστε να καταλάβετε πότε
                                χορταίνει και πότε αρνείται να φάει το φαγητό του απλά με σκοπό είτε να
                                «τραβήξει» την προσοχή είτε να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε,
                                αν ισχύει η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό ή σνακ-
                                είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="arthralistinner">
            <div class="row">
                <div class="col-md-4">
                    <div class="mood mood3 mood4">
                        <a href="#">
                            <h4>
                                03/02/2016
                            </h4>
                            <img src="images/injection-kid 259x233.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="arthralist">
                        <a href="#">
                            <h2>Μπορώ και μόνος μου! Πως το αντιμετωπίζω?</h2>
                            <p>
                                Το παιδί πρέπει να τρώει όταν πεινάει και όχι να αισθάνεται
                                ότι πρέπει να φάει μόνο για να είναι χαρούμενη η μαμά ή ο μπαμπάς.
                                Προσπαθήστε να καταλάβετε πότε χορταίνει και πότε αρνείται να φάει
                                το φαγητό του απλά με σκοπό είτε να «τραβήξει» την προσοχή είτε
                                να φάει κάποιο άλλο σνακ που του αρέσει και αποφύγετε, αν ισχύει
                                η δεύτερη περίπτωση, να συμπληρώσετε το γεύμα του με κάποιο γλυκό
                                ή σνακ- είναι σημαντικό να μαθαίνει ότι υπάρχει ένα φαγητό για όλη την οικογένεια.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="row rowfix">
        <div class="col-md-12">
            <div class="backtotop">
                <a href="#top">
                    <img src="css/images/go-to-top-button.png" />
                    <h4>Επιστροφή στην κορυφή</h4>
                </a>
            </div>
        </div>
    </div>
    @*FOOTER MENU PARTIAL VIEW*@
    @Html.Partial("_FooterMenu")
</body>
