﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    var containerId = 1;
    var anotherCategoryButton = 1;
}

<head>

    @*This page is titled arthra.html in the nutrischool project*@
    @*It's the template for the "Single Category Articles" page*@
    @Html.Partial("_HeadIncludes")

</head>

<body>
    @Html.Partial("_Navbar")
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <a href="@(Model.Content.Parent.Url)" type="button" class="btn btn-link kathgoriesbutton">
                            @umbraco.library.GetDictionaryItem("btn.deiteolestiskathgories")
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <h1>@(Model.Content.AncestorOrSelf("homePage").GetPropertyValue("taArthraMasTitle")) </h1> @*searches for the alias at the root page*@
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        

        <!--#region //////////////////////////////////CategoryButtons//////////////////////////////-->
        <div class="row">
            <div id="menu" class="col-md-12">
                @foreach (var categoryButton in Model.Content.AncestorOrSelf("articleCategoriesPage").Children)//searches the children of the articleCategoriesPage
                {
                    var bigAssButton = "";
                    if (categoryButton.Id == Model.Content.Id)
                    {
                        bigAssButton = "bigassbutton";
                    }


                    <div class="col-md-4 nopadding">
                        <button data-jab="@anotherCategoryButton" class="btn headercols smallfont @bigAssButton" style="background-color:@(categoryButton.GetPropertyValue<string>("categoryColor"))">
                            @(categoryButton.GetPropertyValue<string>("categoryTitle"))
                        </button>
                        @*@if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                        {
                            <div class="clear"></div>
                        }*@
                    </div>
                    if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                    {
                        <div class="clear"></div>
                    }

                    anotherCategoryButton++;
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--#endregion-->
    </div>
    <div class="clear"></div>

    <!--#region ////////////////////////////// CΟΝΤΑΙΝΕRS//////////////////////////////////////////////-->
    @foreach (var container in Model.Content.AncestorOrSelf("articleCategoriesPage").Children)
    {
        string containerDisplay = "display:none;";
        if (container.Id == Model.Content.Id)
        {
            containerDisplay = "display:block;";
        }

        <div class="container dacontainer hidden2" id="@containerId" style="@containerDisplay">
            @foreach (var item in container.Children)
                {
                <div class="arthralistinner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mood mood4" style="background-color:@(container.GetPropertyValue<string>("categoryColor"))">
                                <a href="@(item.Url)">
                                    <h4>
                                        @item.CreateDate.ToString("dd/MM/yyyy")
                                    </h4>
                                    <img src="@Url.GetCropUrl(item.DescendantOrSelf(), "nutrischoolImageCropper", "featuredImage")" />


                                </a>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="col-md-8">
                            <div class="arthralist">
                                <a href="@(item.Url)">
                                    <h2>@Html.Raw(item.GetPropertyValue<string>("articleTitle"))</h2>
                                    <p>
                                        @Umbraco.Truncate(Html.Raw(item.GetPropertyValue<string>("articleMainBodyText")), 550)

                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        containerId++;
    }
    <!--#endregion-->
    @*FOOTER MENU PARTIAL VIEW*@
    @Html.Partial("_FooterMenu")
</body>