﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@{
    Layout = null;
    var childPages = CurrentPage.Children;
    var currentPageChildren = Model.Content.Children;
    var pinkPacifier = Umbraco.Media(Model.Content.GetPropertyValue<string>("imageOnTheLeft"));
    var bannerListValue = Model.Content.GetPropertyValue<string>("articlesSlider");
    var bannerList = bannerListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
    var slideId = 1;
    var categoryColor = Model.Content.GetPropertyValue<string>("categoryColor");
}
@*This page is named firststeps.html in the Nutrischool Project*@
<head>
    @Html.Partial("_HeadIncludes")               
</head>

<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                @if (Model.Content.HasValue("articlesSlider"))
                                {
                                    foreach (var slide in bannerCollection)
                                    {
                                        var Active = "";
                                        if (slideId == 1)
                                        {
                                            Active = "active";
                                        }


                                        <div id="@("slide" + slideId)" class="item @Active">
                                            <img src="@Url.GetCropUrl(slide, "nutrischoolImageCropper", "bannerImage")" />
                                            @if (slide.HasValue("smallBannerLogoForTheArticle"))
                                            {
                                                var logoInTheBanner = Umbraco.Media(slide.GetPropertyValue<string>("smallBannerLogoForTheArticle"));

                                            <!--#region cut-->
                                                <div class="captionbox" style="background-color: #@(slide.AncestorOrSelf("singleCategoryArticles").GetPropertyValue<string>("categoryColor")); background-image: url(@logoInTheBanner.Url)">
                                                    <div class="carousel-caption">
                                                        <h4>
                                                            @(slide.GetPropertyValue("articleTitle"))
                                                        </h4>
                                                        <p>
                                                            @(Umbraco.Truncate(slide.GetPropertyValue<string>("articleMainBodyText"), 300))
                                                        </p>

                                                        <a href="@slide.Url" class="btn btn-default pacifier" role="button">
                                                            @umbraco.library.GetDictionaryItem("btn.diabaseperissotera")
                                                        </a>
                                                    </div>
                                                </div>

                                            <!--#endregion-->
                                            }
                                        </div>
                                        slideId++;
                                    }

                                }
                            </div>

                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel1" data-slide-to="1"></li>
                                <li data-target="#myCarousel1" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="searchbarbackground">
            @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        </div>

        @foreach (var category in Model.Content.Children)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="arthra">
                        <div class="pinkpacifier">
                            <div class="col-md-8 text-left" style="background-image: url(@pinkPacifier.UmbracoFile); background-repeat: no-repeat; ">
                                <h2>@(category.GetPropertyValue<string>("categoryTitle"))</h2>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="@(category.Url)" type="button" class="btn btn-link pull-right blacka">
                                    @(umbraco.library.GetDictionaryItem("btn.deiteolataarthra"))
                                </a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var article in Model.Content.DescendantOrSelf("singleCategoryArticles").Children)
                {

                    <div class="col-md-4">
                        <div class="mood" style="background-color: #@(category.AncestorOrSelf("singleCategoryArticles").GetPropertyValue<string>("categoryColor"))">
                            <a href="@article.Url">
                                <h4>@article.CreateDate.ToString("dd/MM/yyyy")</h4>
                            </a>


                            <a href="@article.Url">
                                <img class="img-responsive" src="@Url.GetCropUrl(article, "NutrischoolImageCropper","previewImage259")" />
                            </a>

                        </div>
                    </div>

                }
            </div>
        }


    </div>
    @Html.Partial("_FooterMenu")


</body>

