﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    var anotherCategoryButton = 1;
}

<head>

    @*innerpage.html in Nutrischool Project*@
    @Html.Partial("_HeadIncludes")
</head>

<body>

    <a name="top"></a>
    @Html.Partial("_NavBar")

    <div class="container">
        <!--#region CategoryButtons-->
        <div class="row">
            <div id="menu" class="col-md-12">
                @foreach (var categoryButton in Model.Content.AncestorOrSelf("articleCategoriesPage").Children)//searches the children of the articleCategoriesPage
                {
                    var bigAssButton = "bigassbutton";
                    if (categoryButton.Id == Model.Content.Parent.Id)
                    {
                        bigAssButton = "bigassbutton";
                    }


                    <div class="col-md-4 nopadding">
                        <a href="@(categoryButton.AncestorOrSelf("singleCategoryArticles").Url)" data-jab="@anotherCategoryButton" class="btn headercols2 smallfont @bigAssButton" style="background-color:@(categoryButton.GetPropertyValue<string>("categoryColor"))">
                            @(categoryButton.GetPropertyValue<string>("categoryTitle"))
                        </a>
                        @if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                        {
                            <div class="clear"></div>
                        }
                    </div>
                    if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                    {
                        <div class="clear"></div>
                    }

                    anotherCategoryButton++;
                }

            </div>
        </div>
        <!--#endregion-->

        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <a href="@(Model.Content.AncestorOrSelf("articleCategoriesPage").Url)" type="button" class="btn btn-link kathgoriesbutton">
                            @umbraco.library.GetDictionaryItem("btn.deiteolestiskathgories")
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <h1>
                            @(Model.Content.AncestorOrSelf("homePage").GetPropertyValue<string>("taArthraMasTitle"))
                        </h1>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 nopadding2">
                <div class="imageandtext">
                    <div class="btn">
                        <a href="@(Model.Content.Parent.Url)">
                            @umbraco.library.GetDictionaryItem("btn.returntoarticles")
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 nopadding2">
                <div class="imageandtextpacifier">
                    <div class="btn">
                        <a style="color:#@(Model.Content.Parent.GetPropertyValue<string>("categoryColor"))" href="#">
                            @if (Model.Content.HasValue("smallBannerLogoForTheArticle"))
                            {
                                var smallLogo = Umbraco.Media(Model.Content.GetPropertyValue<string>("smallBannerLogoForTheArticle"));                                <img src="@smallLogo.UmbracoFile" alt="@smallLogo.Name" />
                            }
                            @Model.Content.CreateDate.ToString("dd/MM/yyyy")
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-5">

                <div class="plainwhite adjusted2">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="innerarticle plainwhite">

                    <h2>
                        @(Model.Content.GetPropertyValue<string>("articleTitle"))
                    </h2>

                    @Html.Raw(Model.Content.GetPropertyValue<string>("articleMainBodyText"))

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="innerarticle">
                    <h1>@umbraco.library.GetDictionaryItem("btn.seemorearticles")</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Content.Ancestor("singleCategoryArticles").Children)
            {

                <div class="col-md-4">
                    <div class="mood" style="background-color:#@(item.Parent.GetPropertyValue<string>("categoryColor"))">
                        <h4>
                            <a href="@item.Url">@Model.Content.CreateDate.ToString("MM/dd/yyyy")</a>
                        </h4>

                        <a href="@item.Url">
                            <img src="@Url.GetCropUrl(item, "nutrischoolImageCropper", "featuredImage")" />
                        </a>
                    </div>
                </div>

            }
        </div>

    </div>

    @Html.Partial("_FooterMenu")
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>

</body>
