﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")


</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-8 whitebox">
                <h2>@(Model.Content.GetPropertyValue<string>("contactDetailsTitle"))</h2>

                <h4>
                    @(Model.Content.GetPropertyValue<string>("address"))
                </h4>
                <p>
                    @(Model.Content.GetPropertyValue<string>("telephone"))<br />
                    @(Model.Content.GetPropertyValue<string>("email"))
                </p>
            </div>

            <div class="col-md-4 pull-right whitebox">
                <div class="vertical">
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 whitebox">
                <div class="mhnuma">
                    <h2>@(Model.Content.GetPropertyValue<string>("quickMessageTitle"))</h2>
                </div>

            </div>
        </div>

        <div class="row">
           @{Html.RenderPartial("_ContactForm", new ContactFormViewModel());}



        </div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>


</body>



</html>
