﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MyUmbraco.Models;
@{
    Layout = null;
    var id = 1;

}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")
</head>

<body>
    @Html.Partial("_Navbar")
    <div class="container plainwhite">

                <div class="row">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_Dictionary", new SearchBarViewModel());}
                    </div>
                </div>



        <div class="row" id="dictionary">

            @foreach (var item in Model.Content.Descendants("lekseisDiatrofikouLeksikou"))
            {


                <div class="col-sm-3 styled" id="@(item.Id)">
                    <button data-id="@id" type="button" class="btn">@(item.GetPropertyValue<string>("leksi"))</button>
                    <div id="@("button-wrapper"+id)" class="col-xs-12 styled2 text-center nopadding">
                        @Html.Raw(item.GetPropertyValue<string>("perigrafiLeksis"))
                    </div>
                </div>
                id++;
            }

        </div>
    </div>



    @Html.Partial("_FooterMenu")
</body>

</html>

<script>
    $(document).ready(function () {
        

        $("button").click(function () {
            
            var a = $(this).attr("data-id");
            $("#button-wrapper" + a ).slideToggle();
        })
    })
</script>