﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@{
    Layout = null;
    var containerId = 1;
    var anotherCategoryButton = 1;
}

<head>
    @Html.Partial("_HeadIncludes")
</head>

<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <a href="@Model.Content.Parent.Url" type="button" class="btn btn-link kathgoriesbutton">
                            @umbraco.library.GetDictionaryItem("btn.deiteolestiskathgories")
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <h1>@(Model.Content.Parent.GetPropertyValue<string>("diseasesTitle"))</h1>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <!--#region SEARCH-->
        @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        <!--#endregion-->

        <!--#region CATEGORYBUTTONS-->
        <div class="row">
                <div id="menu" class="col-md-12">
                    @foreach (var categoryButton in Model.Content.AncestorOrSelf("diseasesMainPage").Children)//searches the children of the articleCategoriesPage
                    {
                        var bigAssButton = "";
                        if (categoryButton.Id == Model.Content.Id)
                        {
                            bigAssButton = "bigassbutton";
                        }


                        <div class="col-md-4 nopadding">
                            <button data-jab="@anotherCategoryButton" class="btn headercols smallfont @bigAssButton" style="background-color:@(categoryButton.GetPropertyValue<string>("CategoryColor"))">
                                @categoryButton.Name
                            </button>
                        </div>

                        anotherCategoryButton++;
                    }

                </div>
            </div>
        <!--#endregion-->
        </div>

    @foreach (var container in Model.Content.AncestorOrSelf("diseasesMainPage").Children)
    {
        string containerDisplay = "display:none;";
        if (containerId == 1)
        {
            containerDisplay = "display:block;";
        }

        <div class="container dacontainer hidden2" id="@containerId" style="@containerDisplay">
            @foreach (var item in container.Children)
                {
                <div class="arthralistinner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mood mood4" style="background-color:@(container.GetPropertyValue<string>("CategoryColor"))">
                                <a href="@item.Url">
                                    <h4>
                                        @item.CreateDate.ToString("dd/MM/yyyy")
                                    </h4>
                                    <img src="@Url.GetCropUrl(item.DescendantOrSelf(), "diseasesFeaturedImage", "previewImage259")" />


                                </a>

                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="col-md-8">
                            <div class="arthralist">
                                <a href="@item.Url">
                                    <h2>@Html.Raw(item.GetPropertyValue<string>("diseasesArticleTitle"))</h2>
                                    <p>
                                        @Umbraco.Truncate(Html.Raw(item.GetPropertyValue<string>("diseasesArticleMainBodyText")), 550)

                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
        containerId++;
    }

    @Html.Partial("_FooterMenu")

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>