﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;

@{
    Layout = null;
    var anotherCategoryButton = 1;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")
</head>

<body>

    <a name="top"></a>
    @Html.Partial("_Navbar")



    <div class="container">

        <!--#region SEARCH-->
        @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        <!--#endregion-->


        <!--#region //////////////////////////////////CategoryButtons//////////////////////////////-->
        <div class="row">
            <div id="menu" class="col-md-12">
                @foreach (var categoryButton in Model.Content.Ancestor("diseasesMainPage").Children)//searches the children of the diseasesMainPage
                {
                    var bigAssButton = "";
                    if (categoryButton.Id == Model.Content.Id)
                    {
                        bigAssButton = "bigassbutton";
                    }


                    <div class="col-md-4 nopadding">
                        <button data-jab="@anotherCategoryButton" class="btn headercols smallfont @bigAssButton" style="background-color:@(categoryButton.GetPropertyValue<string>("categoryColor"))">
                            @(categoryButton.GetPropertyValue<string>("categoryTitle"))
                        </button>
                    </div>
                    if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                    {
                        <div class="clear"></div>
                    }

                    anotherCategoryButton++;
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--#endregion-->



        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-link kathgoriesbutton">
                            < Επιστροφή στις κατηγορίες
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h1>Τα άρθρα μας</h1>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 nopadding2">
                <div class="imageandtext">
                    <div class="btn btn-block">
                        <a href="@Model.Content.Parent.Url">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 nopadding2">
                <div class="imageandtext3 plainwhite orangea">
                    <div class="btn">
                        <a href="@Model.Content.Descendant("diseasesInnerPage").Url">
                           @Model.Content.CreateDate.ToString("dd/MM/yyyy")
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-5">

                <div class="plainwhite adjusted2">
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="innerarticle plainwhite">

                    <h2>@(Model.Content.GetPropertyValue<string>("diseasesArticleTitle"))</h2>

                    @Html.Raw(Model.Content.GetPropertyValue<string>("diseasesArticleMainBodyText"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="innerarticle">
                    <h1>@umbraco.library.GetDictionaryItem("btn.seemorearticles")</h1>
                </div>
            </div>
        </div>


        <div class="row">
            @foreach (var article in Model.Content.AncestorOrSelf("diseasesArticlesLists").Children)
            {
                <div class="col-md-4">
                    <div class="mood" style="background-color: #@(article.AncestorOrSelf("diseasesArticlesLists").GetPropertyValue<string>("CategoryColor"))">
                        <h4>
                            <a href="#">@article.CreateDate</a>
                        </h4>

                        <a href="@article.Url"><img src="@Url.GetCropUrl(article, "diseasesFeaturedImage", "previewImage259")" /></a>

                    </div>
                </div>
            }


        </div>
    </div>
    @Html.Partial("_FooterMenu")
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
</body>

</html>