﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@using MyUmbraco.Controllers;
@{
    Layout = null;
    var childPages = CurrentPage.Children;
    var currentPageChildren = Model.Content.Children;
    var bannerListValue = Model.Content.GetPropertyValue<string>("diseasesMainSlider");
    var bannerList = bannerListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
    var slideId = 1;
    var truncateProperly = 300;
    var child = Model.Content.FirstChild();
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")

</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @if (Model.Content.HasValue("diseasesMainSlider"))
                        {
                            foreach (var slide in bannerCollection)
                            {
                                var Active = "";
                                if (slideId == 1)
                                {
                                    Active = "active";
                                }


                                <div id="@("slide" + slideId)" class="item @Active">
                                    <img src="@Url.GetCropUrl(slide, "diseasesFeaturedImage", "bannerImage")" />
                                    @if (slide.HasValue("smallBannerLogoForTheArticle"))
                                    {
                                        var logoInTheBanner = Umbraco.Media(slide.GetPropertyValue<string>("smallBannerLogoForTheArticle"));
                                        <div class="captionbox" style="background-color: #@(slide.AncestorOrSelf("diseasesArticlesLists").GetPropertyValue<string>("CategoryColor")); background-image: url(@logoInTheBanner.Url)">


                                            <div class="carousel-caption">

                                                <h4>
                                                    @(slide.GetPropertyValue("diseasesArticleTitle"))
                                                </h4>

                                                @if (slideId == 2)
                                                {
                                                    truncateProperly = 200;
                                                }
                                                else if (slideId == 3)
                                                {
                                                    truncateProperly = 300;
                                                }
                                                <p>
                                                    @(Umbraco.Truncate(slide.GetPropertyValue<string>("diseasesArticleMainBodyText"), truncateProperly))
                                                </p>

                                                <a href="@slide.Url" class="btn btn-default pacifier" role="button">
                                                    @umbraco.library.GetDictionaryItem("btn.diabaseperissotera")
                                                </a>
                                            </div>
                                        </div>
                                    }

                                </div>
                                slideId++;
                            }

                        }

                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel1" data-slide-to="1"></li>
                        <li data-target="#myCarousel1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
       
        <div class="searchbarbackground">
            @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="arthra ">
                    <h1 class="pull-left">@(Model.Content.GetPropertyValue<string>("diseasesTitle"))</h1>
                    <a href="@child.Url" type="button" class="btn btn-link pull-right">
                        @umbraco.library.GetDictionaryItem("btn.deiteolataarthra")
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var nosima in Model.Content.Children)
            {
                <div class="col-md-4">
                    <div class="orange" style="background-color: #@(nosima.GetPropertyValue<string>("CategoryColor"))">
                        <a href="@nosima.Url">
                            @if (nosima.HasValue("categoryLogo"))
                            {
                                var nosimaImage = Umbraco.Media(nosima.GetPropertyValue<string>("categoryLogo"));
                                <img src="@nosimaImage.UmbracoFile" />
                            }

                        </a>
                        <a class="h3 text-center" href="@nosima.Url">
                            @nosima.Name
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>

    
    @Html.Partial("_FooterMenu")

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        // Select and loop the container element of the elements you want to equalise
        $('.row').each(function () {

            // Cache the highest
            var highestBox = $('.orange').height();

            // Select and loop the elements you want to equalise
            $('.orange', this).each(function () {

                // If this box is higher than the cached highest then store it
                if ($(this).height() > highestBox) {
                    highestBox = $(this).height();
                }

            });

            // Set the height of all those children to whichever was highest
            $('.orange', this).height(highestBox);

        });
    });
    </script>
</body>

</html>


