﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@{
    Layout = null;
    var theLink = Model.Content.AncestorOrSelf("educationList");
    var anotherCategoryButton = 1;
    var bannerListValue = Model.Content.GetPropertyValue<string>("moreArticles");
    var bannerList = bannerListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")

</head>
<body>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="searchbarbackground1">
            @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        </div>
        <!--#region //////////////////////////////////CategoryButtons//////////////////////////////-->
        <div class="row">
            <div id="menu" class="col-md-12">
                @foreach (var categoryButton in Model.Content.AncestorOrSelf("educationList").Children)//searches the children of the articleCategoriesPage
                {
                    var bigAssButton = "";
                    if (categoryButton.Id == Model.Content.Parent.Id)
                    {
                        bigAssButton = "bigassbutton";
                    }


                    <div class="col-md-6 nopadding">
                        <a href="@categoryButton.Parent.Url" data-jab="@anotherCategoryButton" class="btn headercols2 smallfont @bigAssButton" style="background-color:#@(categoryButton.GetPropertyValue<string>("educationCategoryColor"))">
                            @(categoryButton.GetPropertyValue<string>("educationCategoryTitle"))
                        </a>
                        @*@if (anotherCategoryButton % 3 == 0 && anotherCategoryButton >= 3)
                            {
                                <div class="clear"></div>
                            }*@
                    </div>

                    anotherCategoryButton++;
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--#endregion-->
        

        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-link kathgoriesbutton">
                            < Επιστροφή στις κατηγορίες
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h1>Εκπαίδευση</h1>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>
        <div class="plainwhite">
            <div class="row">
                <div class="col-md-4 col-lg-4 nopadding2">
                    <div class="imageandtext">
                        <div class="btn btn-block">
                            <a href="@theLink.Url">
                                @umbraco.library.GetDictionaryItem("btn.returntoarticles")
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 nopadding2">
                    <div class="plainwhite orangea justabutton">
                        <div class="btn btn-block">
                            <a href="#">
                                @Model.Content.CreateDate.ToString("MM/dd/yyyy")
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-5">

                    <div class="plainwhite adjusted2">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="innerarticle plainwhite">

                        <h2>@Model.Content.GetPropertyValue("educationArticleTitle")</h2>

                        @Html.Raw(Model.Content.GetPropertyValue<string>("educationArticleMainBody"))
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="innerarticle">
                    <h1>@umbraco.library.GetDictionaryItem("btn.seemorearticles")</h1>
                </div>
            </div>
        </div>



        <div class="row">
            @{
                if (Model.Content.HasValue("moreArticles"))
                {
                    
                    foreach (var article in bannerCollection)
                    {
                        <div class="col-md-4">
                            <div class="orangemood mood" style="background-color: #@(article.Parent.GetPropertyValue<string>("educationCategoryColor"))">
                                <a href="@article.Url">
                                    <h4>
                                        @article.CreateDate.ToString("dd/MM/yyyy")
                                    </h4>
                                </a>
                                <a href="@article.Url">
                                <img src="@Url.GetCropUrl(article, "educationFeaturedImage", "previewImage259")"/>
                                     </a>

                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    @Html.Partial("_FooterMenu")
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
</body>
</html>



