﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    var containerId = 1;
    var anotherCategoryButton = 1;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")


</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="arthra">
                    <div class="col-sm-4">
                        <a href="@(Model.Content.Parent.Url)" type="button" class="btn btn-link kathgoriesbutton">
                            @umbraco.library.GetDictionaryItem("btn.deiteolestiskathgories")
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <h1>@(Model.Content.GetPropertyValue<string>("pageTitle"))</h1>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="menu" class="col-md-12">
                @foreach (var category in Model.Content.Children("educationSingleCategory"))
                {
                    var bigAssButton = "";
                    if (category.Id == Model.Content.Descendant("educationSingleCategory").Id)
                    {
                        bigAssButton = "bigassbutton";
                    }

                    <div class="col-md-6 nopadding">
                        <button data-jab="@anotherCategoryButton" class="btn headercols smallfont @bigAssButton" style="background-color: #@(category.GetPropertyValue<string>("educationCategoryColor"))">
                            @category.Name
                        </button>
                    </div>
                    anotherCategoryButton++;
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="xrhsima">
                    <h1>Χρήσιμα Downloads</h1>
                </div>
            </div>
        </div>

        <!--#region Downloadable PDFs-->
        @if (Model.Content.HasValue("downloadableFiles"))
        {
            var caseStudyImagesList = Model.Content.GetPropertyValue<string>("downloadableFiles").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
            var caseStudyImagesCollection = Umbraco.TypedMedia(caseStudyImagesList).Where(x => x != null);

            foreach (var caseStudyImage in caseStudyImagesCollection)
            {
                var fileTypeDecider = "doc";
                if (caseStudyImage.GetPropertyValue<string>("umbracoExtension") == "pdf")
                {
                    fileTypeDecider = "pdf";
                }
                else if (caseStudyImage.GetPropertyValue<string>("umbracoExtension") == "docx")
                {
                    fileTypeDecider = "";
                }


                var name = caseStudyImage.Name;
                if (name.IndexOf(".") > -1)
                {
                    name = name.Substring(0, name.LastIndexOf("."));
                }
                <div class="row">
                    <div class="col-md-12">
                        <a href="@caseStudyImage.Url" class="@fileTypeDecider usefullinks usefullinks2">
                            <span class="h3">@name</span>
                            <span class="p pull-right">Κατεβάστε το αρχείο</span>
                            <div class="clear"></div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
    <!--#endregion-->
    <!--#region Category Containers-->
    @foreach (var container in Model.Content.Children)
    {

        var containerDisplay = "display:none;";
        if (containerId == 1)
        {
            containerDisplay = "display:block;";
        }

        <div class="container dacontainer hidden2" id="@containerId" style="@containerDisplay">
            <div class="row">
                <div class="col-md-12">
                    <div class="xrhsima">
                        <h1>@umbraco.library.GetDictionaryItem("educationalArticlesFor") @container.Name</h1>
                    </div>
                </div>
            </div>
            <!--#region Articles inside Containers-->
            @foreach (var article in container.Children)
                {

                <div class="row">
                    <div class="arthralistinner">
                        <div class="col-md-4 nopadding2">
                            <div class="mood orangemood mood4" style= "background-color: #@(article.AncestorOrSelf("educationSingleCategory").GetPropertyValue<string>("educationCategoryColor"))">
                                <a href="@article.Url">
                                    <h4>
                                        @Model.Content.CreateDate.ToString("dd/MM/yyyy")
                                    </h4>

                                    <img class="img-responsive" src="@Url.GetCropUrl(article, "educationFeaturedImage", "previewImage259")" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="arthralist">
                                <a href="@article.Url">
                                    <h2>
                                        @(article.GetPropertyValue<string>("educationArticleTitle"))
                                    </h2>

                                    @Umbraco.Truncate(Html.Raw(article.GetPropertyValue<string>("educationArticleMainBody")), 500)
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            }
            <!--#endregion-->
        </div>
        containerId++;
    }
    <!--#endregion-->

    @Html.Partial("_FooterMenu")

</body>







</html>