﻿@using MyUmbraco.Models;
@using Umbraco.Core.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var childPages = CurrentPage.Children;
    var currentPageChildren = Model.Content.Children;
    var bannerListValue = Model.Content.GetPropertyValue<string>("mainSlider");
    var bannerListValue1 = Model.Content.GetPropertyValue<string>("draseisSlider");
    var bannerList = bannerListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerList1 = bannerListValue1.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
    var bannerCollection1 = Umbraco.TypedContent(bannerList1).Where(x => x != null);
    var slideId = 1;
    var slideId1 = 1;
    var slideId2 = 0;

}
<!DOCTYPE html>

<html>
<head>

    @*This is the index.html page*@

    @*LINKS TO CSS, FONTS, JQUERY, JAVASCRIPT ETC. PARTIAL*@
    @Html.Partial("_HeadIncludes")
</head>
<body>
    @Html.Partial("_Navbar")

    <div class="container">
        <!--#region Main Slider Carousel-->
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @if (Model.Content.HasValue("mainSlider"))
                        {
                            foreach (var slide in bannerCollection)
                            {
                                var Active = "";
                                if (slideId == 1)
                                {
                                    Active = "active";
                                }


                                <div id="@("slide" + slideId)" class="item @Active">
                                    <img src="@Url.GetCropUrl(slide, "NutrischoolImageCropper", "bannerImage")" />
                                    @if (slide.HasValue("smallBannerLogoForTheArticle"))
                                    {
                                        var logoInTheBanner = Umbraco.Media(slide.GetPropertyValue<string>("smallBannerLogoForTheArticle"));
                                        <div class="captionbox" style="background-color: #@(slide.AncestorOrSelf("singleCategoryArticles").GetPropertyValue<string>("categoryColor")); background-image: url(@logoInTheBanner.Url)">


                                            <div class="carousel-caption">

                                                <h4>
                                                    @(slide.GetPropertyValue("articleTitle"))
                                                </h4>
                                                <p>
                                                    @(Umbraco.Truncate(slide.GetPropertyValue<string>("articleMainBodyText"), 300))
                                                </p>
                                                <div class="clear"></div>

                                                <a href="@slide.Url" class="btn btn-default pacifier" role="button">
                                                    @umbraco.library.GetDictionaryItem("btn.diabaseperissotera")
                                                </a>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    }

                                </div>
                                slideId++;
                            }

                        }

                    </div>

                    <ol class="carousel-indicators">

                        @foreach (var indicator in bannerCollection)
                        {
                            var Active = "";
                            if (slideId == 4)
                            {
                                Active = "active";
                            }
                            <li data-target="#myCarousel1" data-slide-to="@slideId " class="@Active"></li>
                            slideId++;
                        }
                        
                    </ol>
                </div>
            </div>
        </div>
        <!--#endregion-->
        <div class="row">
            
            <div class="col-md-9">
                <!--#region Το όραμά μας-->
                <div class="orama">
                    <h3>@(Model.Content.GetPropertyValue<string>("oramaTitle"))</h3>

                    @(Html.Raw(Model.Content.GetPropertyValue<string>("oramaArticle")))

                </div>
                <div class="arthra ">
                    <h1 class="pull-left">@(Model.Content.GetPropertyValue<string>("taArthraMasTitle"))</h1>

                    <a href="@Model.Content.Descendant("articleCategoriesPage").Url" type="button" class="btn btn-link pull-right blacka">
                        @(umbraco.library.GetDictionaryItem("btn.deiteolataarthra"))

                    </a>
                    <div class="clear"></div>
                </div>
                <!--#endregion-->

                <!--#region START OF THE CATEGORY BUTTONS WITH THE DIFFERENT COLOURS-->

                <div class="row">
                    @foreach (var categoryButton in Model.Content.Descendants("singleCategoryArticles"))
                    {
                        <div class="col-xs-12 col-md-4">
                            <div class="years" style="background-color:#@(categoryButton.DescendantOrSelf("singleCategoryArticles").GetPropertyValue("categoryColor"))">
                                <a href="@(categoryButton.Url)">

                                    @if (categoryButton.HasValue("categoryIconOnMainPage"))
                                    {
                                        var typedMediaItem = Umbraco.Media(categoryButton.GetPropertyValue<string>("categoryIconOnMainPage"));
                                        <img class="img-responsive" src="@typedMediaItem.UmbracoFile" alt="@typedMediaItem.Name" />
                                    }
                                </a>

                                <a class="h3 text-center" href="@(categoryButton.Url)">
                                    @(categoryButton.GetPropertyValue("categoryTitle"))
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <!--#endregion-->

                <!--#region Συνταγή του Μήνα-->
                <div class="call-md-12">
                    @if (Model.Content.HasValue("recipeOfTheMonth"))
                    {
                        var node = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>("recipeOfTheMonth"));
                        <div class="recipe">
                            <h2 class="pull-left">Η συνταγή του μήνα</h2>
                            <a href="@node.Url" type="button" class="btn btn-link pull-right blacka">
                                @(umbraco.library.GetDictionaryItem("btn.deiteolestissuntages"))
                            </a>
                            <div class="clear"></div>
                            <a href="#">
                                <img class="img-responsive" src="@Url.GetCropUrl(node, "recipeFeaturedImage", "RecipeOfTheMonthBanner")" />

                            </a>
                        </div>
                        <div class="wintersoup">
                            <div class="pull-left hidden-xs  hidden-sm hidden-md">
                                @if (Model.Content.HasValue("recipeLogo"))
                                {
                                    var recipeLogo = Umbraco.Media(Model.Content.GetPropertyValue<string>("recipeLogo"));
                                    <img class="img-responsive" src=@recipeLogo.UmbracoFile />
                                }
                            </div>
                            <div class="pull-right">
                                <h3>@(node.GetPropertyValue<string>("recipeArticleTitle"))</h3>
                            </div>
                            <div class="clear"></div>
                        </div>
                    }
                </div>
                <!--#endregion-->
            </div>
            <div class="col-md-3">
                <!--#region Δράσεις-->
                <div class="draseis">
                    <div class="media">
                        <img src="~/css/images/megafono.png" />
                        <a href="#" class="h4 text-right">@umbraco.library.GetDictionaryItem("draseis")</a>
                    </div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            @if (Model.Content.HasValue("draseisSlider"))
                            {
                                foreach (var slide in bannerCollection1)
                                {
                                    var Active = "";
                                    if (slideId1 == 1)
                                    {
                                        Active = "active";
                                    }

                                    <div id="@("slide" + slideId1)" class="item @Active">
                                            <img src="@Url.GetCropUrl(slide, "educationFeaturedImage", "draseisCrop")" />
                                            <div class="carousel-caption">
                                                <h3>@(slide.GetPropertyValue("educationArticleTitle"))</h3>
                                            </div>
                                        </div>


                                    slideId1++;
                                }

                            }
                        </div>
                        <ol class="carousel-indicators">
                            @foreach (var indicator in bannerCollection1)
                            {
                                var Active = "";

                                if (slideId1 == 0)
                                {
                                    Active = "active";
                                }
                                <li data-target="#myCarousel" data-slide-to="@slideId2" class="@Active"></li>
                                slideId2++;
                            }

                        </ol>
                    </div>

                    
                </div>
                <!--#endregion-->

                <!--#region Υπολογισμός ΔΜΣ-->
                <div class="upologismos">
                    <div class="media">
                        <img src="~/css/images/nutrischool-square-icon.png" />
                        <a href="#" class="text-right">@umbraco.library.GetDictionaryItem("title.upologismosDMS")</a>
                        @{ Html.RenderPartial("_CountBMI", new YpologismosDMSViewModel());}
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Καμπύλες Ανάπτυξης-->
                <div class="kampules">
                    <div class="media">
                        <img src="~/css/images/graph-image.png" />
                        <span class="text-right">@umbraco.library.GetDictionaryItem("title.kampulesanaptukshs")</span>
                    </div>
                    <div class="kampulesinner">
                        <h3>
                            @umbraco.library.GetDictionaryItem("description.kampulesanaptukshs")
                        </h3>
                        @if (Model.Content.HasValue("height036Months"))
                        {
                            var agoria036 = Umbraco.Media(Model.Content.GetPropertyValue<int>("height036Months"));
                            <a href="@agoria036.UmbracoFile" type="button" class="btn btn-block">
                                @umbraco.library.GetDictionaryItem("upsosagoria036")
                            </a>
                        }

                        @if (Model.Content.HasValue("girls036Height"))
                        {
                            var agoria036 = Umbraco.Media(Model.Content.GetPropertyValue<int>("girls036Height"));
                            <a href="@agoria036.UmbracoFile" type="button" class="btn btn-block">
                                @umbraco.library.GetDictionaryItem("upsoskoritsia036")

                            </a>
                        }

                        @if (Model.Content.HasValue("height018Boys"))
                        {
                            var agoria036 = Umbraco.Media(Model.Content.GetPropertyValue<int>("height018Boys"));
                            <a href="@agoria036.UmbracoFile" type="button" class="btn btn-block">
                                @umbraco.library.GetDictionaryItem("upsosagoria018")
                            </a>
                        }

                        @if (Model.Content.HasValue("height018Girls"))
                        {
                            var agoria036 = Umbraco.Media(Model.Content.GetPropertyValue<int>("height018Girls"));
                            <a href="@agoria036.UmbracoFile" type="button" class="btn btn-block">
                                @umbraco.library.GetDictionaryItem("upsoskoritsia018")

                            </a>
                        }
                    </div>
                </div>
                <!--#endregion-->

                <!--#region Διατροφικό Λεξικό-->
                <div class="lexicon">
                    <div class="media">
                        <img src="~/css/images/apple-book.png" />
                        <a href="#" class="h4 text-right">@umbraco.library.GetDictionaryItem("diatrofikoleksiko")</a>
                    </div>
                    <div class="innerlexicon">
                        <h3>
                            @umbraco.library.GetDictionaryItem("description.alfabhtikhseira")
                        </h3>
                        <a href="@Model.Content.Descendant("diatrofikoLeksiko").Url" type="button" class="btn btn-default btn-block">
                            @umbraco.library.GetDictionaryItem("alfabhtikhprobolh")
                        </a>
                        @{Html.RenderPartial("_HomePageLexiconSearch", new SearchBarViewModel());}

                        <button class="btn btn-block searchbutton">
                            @umbraco.library.GetDictionaryItem("btn.anazitisi")
                        </button>
                    </div>

                    
                </div>
                <!--#endregion-->
            </div>
        </div>
    </div>




    @*FOOTER MENU PARTIAL VIEW*@
    @Html.Partial("_FooterMenu")

    <div class="clear"></div>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
</body>





</html>