﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")


</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @if (Model.Content.HasValue("banner"))
                {
                    var banner = Umbraco.Media(Model.Content.GetPropertyValue("banner"));
                    <img class="img-responsive" src="@banner.UmbracoFile" alt="@banner.Name" />
                }
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="philosophy">

                    <h3>@Model.Content.GetPropertyValue("mainArticleTitle")</h3>
                    @Model.Content.GetPropertyValue("mainArticleBody")

                </div>
            </div>

            <div class="col-md-4">
                <div class="toknowusbetter">
                    <h3>@Model.Content.GetPropertyValue("orangeArticleTitle")</h3>

                    @Model.Content.GetPropertyValue("orangeArticleMainBody")

                    <a href="@Model.Content.PrecedingSibling("contact").Url" type="button" class="btn btn-default btn-block">
                        @umbraco.library.GetDictionaryItem("btn.sendmessage")
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="omada">
                    <h2>Η Ομάδα</h2>
                </div>
            </div>
        </div>


        <div class="row">
            
            @foreach (var member in Model.Content.Children)
            {
                var fixedButton = "harablassi";
                if (member.GetPropertyValue<string>("memberProfession").Length > 30)
                {
                    int test = member.GetPropertyValue<string>("memberProfession").Length;
                    fixedButton = "harablassi1";
                }
                <div class="col-sm-6">
                    <div class="@fixedButton">
                        <div class="col-md-6 nopadding3">
                            <img class="img-responsive" src="@Url.GetCropUrl(member, "memberProfileImage", "teamImage")" />
                        </div>
                        <div class="col-md-6 nopadding3">
                            <h4>@(member.GetPropertyValue<string>("memberName"))</h4>
                            <p>@(member.GetPropertyValue<string>("memberProfession"))</p>
                            
                            <button class="btn btn-default">Περισσότερα +</button>
                            
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </div>
    </div>

    @Html.Partial("_FooterMenu")

</body>
</html>