﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@{
    Layout = null;
    var containerId = 1;
    var anotherCategoryButton = 1;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")

</head>
<body id="background">
    <a name="top"></a>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="backgroundcolor">

            <!--#region Searchbar-->
            <div class="searchbarbackground2" style="border-radius: 5px;">
                @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
            </div>
            <!--#endregion-->
            <!--#region Title and return to categories link-->
            <div class="row">
                <div class="col-md-12">
                    <div class="arthra">
                        <div class="col-sm-4">
                            <a href="@Model.Content.Parent.Url" type="button" class="btn btn-link kathgoriesbutton">
                                @umbraco.library.GetDictionaryItem("btn.deiteolestiskathgories")
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <h1>@(Model.Content.Ancestor("syntagesMainPage").GetPropertyValue<string>("recipesMainTitle"))</h1>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <div class="row">
                @foreach (var categoryButton in Model.Content.AncestorOrSelf("syntagesMainPage").Children)//searches the children of the syntagesMainPage
                {
                    var bigAssButton = "";
                    if (categoryButton.Id == Model.Content.Id)
                    {
                        bigAssButton = "bigassbutton";
                    }


                    <div class="col-md-4 recipepadding">
                        <button data-jab="@anotherCategoryButton" class="btn headercols smallfont @bigAssButton" style="background-color:#@(categoryButton.GetPropertyValue<string>("recipeCategoryColor"))">
                            @(categoryButton.GetPropertyValue<string>("recipeCategoryTitle"))
                        </button>
                    </div>

                    anotherCategoryButton++;
                }
                <div class="clear"></div>
            </div>





            @foreach (var container in Model.Content.AncestorOrSelf("syntagesMainPage").Children)
            {
                var containerDisplay = "display:none;";
                if (containerId == 1)
                {
                    containerDisplay = "display:block;";
                }

                <div class="container dacontainer hidden2" id="@containerId" style="@containerDisplay">
                    @foreach (var item in container.Children)
                    {
                        <div class="arthralistinner fixer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mood mood4" style="background-color:#@(item.AncestorOrSelf("syntagesArticles").GetPropertyValue<string>("recipeCategoryColor"))">
                                        <a href="@item.Url">
                                            <h4>
                                                @item.CreateDate.ToString("dd/MM/yyyy")
                                            </h4>
                                            <img src="@Url.GetCropUrl(item, "recipeFeaturedImage", "featuredImage")" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="arthralist">
                                        <a href="@item.Url">
                                            <h2>@(item.GetPropertyValue<string>("titleForTheList"))</h2>

                                            @Html.Raw(item.GetPropertyValue<string>("PreviewArticle"))

                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        
                    }
                </div>
                containerId++;
            }
        </div>
    </div>

    @Html.Partial("_FooterMenu")

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
    <div class="clear"></div>
</body>
</html>