﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Examine;
@using MyUmbraco.Controllers;
@using MyUmbraco.Models;

@{ 
    var query = Request.QueryString["query"];
    var Searcher = Examine.ExamineManager.Instance.SearchProviderCollection["MySearchSearcher"];

    var searchResults = Searcher.Search(query, true).OrderByDescending(x => x.Score).TakeWhile(x => x.Score > 0.05f);
}

@* Get the search term from query string *@


<head>

    @Html.Partial("_HeadIncludes")
</head>    
<body>
    @Html.Partial("_Navbar")


    <div class="container plainwhite">
        <div class="row">
            <div class="col-md-12 text-center styled3">

                @if (!string.IsNullOrEmpty(Request.QueryString["query"]))
                {
                    <ul>
                        @foreach (var result in Umbraco.TypedSearch(Request.QueryString["query"]))
                        {
                            <li>
                                <a href="@result.Url">@result.Name</a>
                            </li>
                        }
                    </ul>
                }
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    @Html.Partial("_FooterMenu")
</body>