﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core.Models
@using MyUmbraco.Models;
@{
    Layout = null;
    var childPages = CurrentPage.Children;
    var currentPageChildren = Model.Content.Children;
    var bannerListValue = Model.Content.GetPropertyValue<string>("mainSlider");
    var bannerList = bannerListValue.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var bannerCollection = Umbraco.TypedContent(bannerList).Where(x => x != null);
    var slideId = 1;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")

</head>
<body>
    @Html.Partial("_Navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @if (Model.Content.HasValue("mainSlider"))
                        {
                            foreach (var slide in bannerCollection)
                            {
                                var Active = "";
                                if (slideId == 1)
                                {
                                    Active = "active";
                                }


                                <div id="@("slide" + slideId)" class="item @Active">
                                    <img src="@Url.GetCropUrl(slide, "recipeFeaturedImage", "bannerImage")" />

                                    <div class="captionbox" style="background-color: #@(slide.AncestorOrSelf("syntagesArticles").GetPropertyValue<string>("recipeCategoryColor"))">
                                        <div class="carousel-caption">
                                            <h4>
                                                @(slide.GetPropertyValue("titleForTheList"))
                                            </h4>
                                            <p>
                                                @(Umbraco.Truncate(slide.GetPropertyValue<string>("PreviewArticle"), 300))
                                            </p>

                                            <a href="@slide.Url" type="button" class="btn btn-default pacifier" role="button">
                                                @umbraco.library.GetDictionaryItem("btn.diabaseperissotera")
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                slideId++;
                            }

                        }
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel1" data-slide-to="1"></li>
                        <li data-target="#myCarousel1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="searchbarbackground2">
            @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="arthra ">
                    <h1 class="pull-left">@(Model.Content.GetPropertyValue<string>("recipesMainTitle"))</h1>

                    <a href="@Model.Content.DescendantOrSelf("syntagesArticles").Url" type="button" class="btn btn-link pull-right">
                        @umbraco.library.GetDictionaryItem("btn.deitearthra")
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var recipe in Model.Content.Children)
            {
                <div class="col-xs-12 col-md-4">
                    <div class="brown brownish" style="background-color:#@(recipe.GetPropertyValue<string>("recipeCategoryColor"))">
                        <a href="@recipe.DescendantOrSelf("syntagesArticles").Url">
                            <img src="@Url.GetCropUrl(recipe.FirstChild(), "recipeFeaturedImage", "featuredImage") " />
                        </a>

                        <a class="h3 text-center" href="#">
                            @(recipe.GetPropertyValue<string>("recipeCategoryTitle"))
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.Partial("_FooterMenu")

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>*@
</body>
</html>