﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MyUmbraco.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")
</head>
<body>
    <a name="top"></a>
    @Html.Partial("_Navbar")
    <div class="container plainwhite paddingtop">
        <div class="searchbarbackground2">
                @{Html.RenderPartial("_SearchBar", new SearchBarViewModel());}
        </div>
    </div>
    <div class="container plainwhite paddingtop">
        <div class="row">
            <div class="col-xs-12">
                <div class="arthra2">
                    <div class="col-sm-6">
                        <a href="@Model.Content.Parent.Url" type="button" class="btn btn-link kathgoriesbutton">
                            < Επιστροφή στις κατηγορίες
                        </a>
                    </div>
                    <div class="col-md-6 pull-right whitebox adjusted">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox pull-right"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <img src="@(Url.GetCropUrl(Model.Content,"recipeFeaturedImage", "sweetBanner"))" class="img-responsive imgfixer plainwhite" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="fuckingmuffins">
                    <h1>@(Model.Content.GetPropertyValue<string>("recipeArticleTitle"))</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="fuckingmuffins2">
                    <h3>Εκτέλεση</h3>
                    @Html.Raw(Model.Content.GetPropertyValue<string>("recipeArticleMainText"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="ulika">
                    <h3>@(Model.Content.GetPropertyValue<string>("ingredientsTitle"))</h3>
                    @Html.Raw(Model.Content.GetPropertyValue<string>("RecipeIngredients"))
                </div>

                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterMenu")
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5790ab1bdaeeeb37"></script>
</body>
</html>
