﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@using Umbraco.Core;
@{
    Layout = null;
    var gender = Request.QueryString["query"];
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_HeadIncludes")
</head>

<body>
    @Html.Partial("_NavBar")

    <div class="container plainwhite">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h1>@umbraco.library.GetDictionaryItem("ypologismosTitle")</h1>
            </div>
            <div class="col-lg-offset-3  green">
                <h4>
                    @umbraco.library.GetDictionaryItem("yourBMI")  @TempData["dms"]
                </h4>
            </div>
        </div>
        <div class="row">
                @if (gender == "Άνδρας")
                {
                    <div class="table-responsive">
                            @Html.Raw(Model.Content.Descendant("ypologismosMazasSomatos").GetPropertyValue<string>("maleBMI"));
                    </div>
                }

                else if (gender == "Γυναίκα")
                {
                    @(Model.Content.Id);
                }
                else
                {
                    @gender
                }
        </div>
            <div class="clear"></div>
        
    </div>



    @Html.Partial("_FooterMenu")
</body>
</html>

